/Users/yabukita_shou/Desktop/dev/pytorch_test/.ipynb_checkpoints/
/Users/yabukita_shou/Desktop/dev/pytorch_test/2_SSD/data/VOCdevkit/
/Users/yabukita_shou/Desktop/dev/pytorch_test/2_SSD/.ipynb_checkpoints/
